.container{
    background-color: var(--bg-soft);
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom-left-radius: 27%;
}

.logo{
    font-size: 30px;
    font-weight: bold;
}