:root{
    --bg:#0d0c22;
    --bg-soft:#1b1935;
    --text: white;
    --text-soft: #e5e5e5;
    --btn: #3673fd;

}

body{
    background-color: var(--bg);
    color: var(--text);
}

a{
    text-decoration: none;
    color: inherit;
}

.container{
    width: 1256px;
    margin: auto;
    padding-left: 50px;
    padding-right: 50px;
    min-height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    
}